// Screen breakpoints.
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$screen-max: 1905px;
$screen-xs-h-min: 270px;

// Viewports.
$full-width: 100vw;
$full-height: 100vh;
$half-width: 50vw;
$half-height: 50vh;
