body, html {
  margin: 0;
}

body {
  #fullview {
    &.container-fluid {
      padding: 0;
    }

    .fv-primary {
      height: 100%;
      // Compensate the header height and add spacing on screen borders.
      padding: 10vh 2em 2em;

      @include landscape {
        padding: 15vh 2em 2em;
      }

      section {
        position: relative;
        overflow: visible;
        height: $regular-height;
        width: 100%;

        @include landscape {
          height: $landscape-md-height;
        }
      }
    }
  }

  &.full-width {
    #fullview {
      .fv-primary {
        padding: 0;

        section {
          height: $full-height;
        }
      }
    }
  }
}
