header {
  //position: sticky;
  //position: -webkit-sticky;
  top: 0;
  height: 15vh;
  background: transparent;
  z-index: 99;

  // Replace the position from Bootstrap to fix it.
  &.col-sm-12 {
    position: fixed;
    float: none;
    padding: 1em;
  }
}
