header {
  top: auto;
  padding: 0.1em;
  height: 0.625em;
  background: transparent;
  z-index: 99;

  // Replace the position from Bootstrap to fix it.
  &.col-sm-12 {
    position: fixed;
  }

  .col-sm-4 {
    padding: 0.1em;
    height: 0.625em;
  }

  // Site logo settings.
  .navbar-btn {
    margin: 3em 0em 0em 3em;
  }

  // My account menu.
  .first {
    margin-right: 5em;
  }

  // Log in menu.
  .last {
    margin-right: 5em;
  }
}
