@mixin alignment($vertical, $horizontal, $direction, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $vertical;
  justify-content: $horizontal;
}

@mixin alignment-info($property, $value, $transform) {
  position: absolute;
  top: 50%;
  #{$property}: #{$value};
  transform: $transform;
}

@mixin border-bottom($size, $alignment) {
  &:after {
    bottom: 0;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    height: 1px;
    width: $size;
  }
}

@mixin no-spacing() {
  margin: 0;
  padding: 0;
}

@mixin padding-default() {
  padding: 1em 2em;
}

@mixin page-division-column {
  position: relative;
  display: inline-block;
  float: none;
  @include no-spacing();
  width: 100%;
}
