.paragraph--type--banner {
  .field--name-field-banner-image-link {
    position: absolute;
  }

  .field--name-field-banner-image {
    height: 100%;

    picture {
      img.img-responsive {
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}
