.paragraph--type--banner-doubled {
  .field--name-field-banner-doubled-images {
    display: flex;
    flex-direction: column;

    @include xl {
      flex-direction: row;
    }

    .field--item {
      flex: 100%;

      @include xl {
        flex: 50%;
      }

      .img-responsive {
        width: $full-width;
        height: $half-height;

        @include xs-h {
          min-height: $screen-xs-h-min;
        }

        @include xl {
          height: $full-height;
          width: $half-width;
        }
      }
    }
  }
}
