.paragraph--type--banner-doubled {
  .field--name-field-banner-doubled-images {
    display: flex;
    flex-direction: column;

    @include xl {
      flex-direction: row;
    }

    .field--item {
      flex: 100%;

      @include xl {
        flex: 50%;
      }

      .img-responsive {
      }
    }
  }
}
