.fa-whatsapp {
  color: #25D366;
}

.fa-facebook {
  color: #3B5988;
}

.fa-twitter {
  color: #00ACEE;
}

.fa-linkedin {
  color: #0E76A8;
}

.fa-instagram {
  color: #E95950;
}

.fa-drupal {
  color: #0C76AB;
}
