#block-hx-account-menu {
  display: inline-block;

  .navbar-nav {
    margin: 0;
    height: 100%;

    li {
      a {
        padding: 1em;
      }
    }
  }
}

.menu {
  @include alignment(center, center, row);
}
