.paragraph, .product {
  img {
    margin: 0;
    padding: 0;
    height: $full-height;
    width: 100%;
  }

  &.paragraph--zoom--in {
    img {
      object-position: 50% 50%;
      object-fit: cover;
    }
  }
}

.paragraph—position—left {
  .field {
    position: absolute;
    top:75vh;
    left: 25vw;
  }
}

.paragraph—position—center {
  .field {
    position: absolute;
    top:75vh;
    margin: 0 auto;
    padding: 0 25%;
    text-align: center;
  }
}

.paragraph—position—right {
  .field {
    position: absolute;
    top:75vh;
    left: 75vw;
  }
}

.field {
  .field--name-field-banner-image,.field--name-field-banner-doubled-images   {
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
  }
}
