.paragraph, .product {
  img {
    @include no-spacing();
    height: $full-height;
    width: 100%;
  }

  &.paragraph--zoom--in {
    img {
      object-position: 50% 50%;
      object-fit: cover;
    }
  }
}
