.paragraph, .product {
  img {
    @include no-spacing();
    height: $full-height;
    width: 100%;
  }

  &.paragraph--zoom--in {
    img {
      object-position: 50% 50%;
      object-fit: cover;
    }
  }

  .paragraph--info {
    width: 33%;
    text-align: center;
    padding: 0 2em;
  }

  &.paragraph--position--left {
    .paragraph--info {
      @include alignment-info(left, 0, translate(0%, -50%));
    }
  }

  &.paragraph--position--center {
    .paragraph--info {
      @include alignment-info(left, 50%, translate(-50%, -50%));
    }
  }

  &.paragraph--position--right {
    .paragraph--info {
      @include alignment-info(right, 0, translate(0%, -50%));
    }
  }
}
