.product {
  display: flex;
  flex-direction: column;
  padding: 1em 0;

  @include landscape {
    flex-direction: row;
  }

  @include rwd($screen-xl-min) {
    flex-direction: row;
  }

  .flexslider {
    background: transparent;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;

    @include landscape {
      flex: 0 0 60%;
    }

    .flex-viewport {
      @include landscape {
        max-height: $img-landscape-sm;
      }

      @include landscape-rwd($screen-lg-min) {
        max-height: $img-landscape-lg;
        margin: 0 auto;
      }

      .slides {
        height: 100%;

        li {
          height: inherit;

          a, img {
            height: inherit;
          }
        }
      }
    }

    .flex-control-nav {
      position: relative;
      height: 5vh;
      @include no-spacing();
      bottom: 0;

      @include landscape {
        height: 10vh;
      }

      &.flex-control-paging {
        li {
          a {
            width: 0.75em;
            height: 0.75em;
          }
        }
      }

      &.flex-control-thumbs {
        li {
          float: none;
          height: 100%;
          width: 20%;
          padding: 0 0.5em;

          @include rwd($screen-md-min) {
            width: 15%;
          }

          img {
            height: 100%;
            opacity: 0.5;
            border: 1px solid $gray-shadow;

            &.flex-active {
              opacity: 1;
            }
          }
        }
      }
    }

    .flex-direction-nav {
      a {
        width: 4em;
        height: 4em;

        &:before {
          font-size: 2em;

          @include rwd($screen-md-min) {
            font-size: 3em;
          }
        }
      }
    }
  }

  .product--details {
    height: 100%;
    padding-top: 1em;

    @include md {
      padding-top: 2em;
    }

    @include landscape {
      flex: 0 0 40%;
      padding: 1em 0 0 1em;
    }

    .field--name-title, .field--name-price {
      @include alignment(center, center, row);
      width: 100%;
      padding: 0;
    }

    .field {
      height: auto;
    }

    .field--name-title {
      text-align: center;
    }

    .field--name-price {
      text-align: center;
      font-weight: 600;
      border-bottom: 1px solid $gray-shadow;
      padding: 1em 0;

      .field--label, .field--item {
        display: inline-block;
      }
    }

    .field--name-body {
      padding-top: 1em;
      text-align: justify;

      @include sm {
        height: 35%;
      }

      @include landscape {
        height: 70%;
      }
    }
  }
}
