.paragraph--type--banner-doubled {
  .field--name-field-banner-doubled-images {
    display: flex;
    align-items: flex-start;

    .field--item {
      flex: 50%;

      .img-responsive {
        width: 100%;
      }
    }
  }
}
